USE [master]
GO
/****** Object:  Database [Midterm_4453]    Script Date: 10/28/2020 6:57:10 PM ******/
CREATE DATABASE [Midterm_4453]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Midterm_4453', FILENAME = N'/var/opt/mssql/data/Midterm_4453.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Midterm_4453_log', FILENAME = N'/var/opt/mssql/data/Midterm_4453_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Midterm_4453].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Midterm_4453]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 10/28/2020 6:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[vehicle] [float] NULL,
	[ScheduleId] [float] NULL,
	[fleet_Id] [float] NULL,
	[last_main] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 10/28/2020 6:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[id] [float] NULL,
	[BusVehicle] [float] NULL,
	[Name] [nvarchar](max) NULL,
	[employ_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driverStat]    Script Date: 10/28/2020 6:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driverStat](
	[ID_STAT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DESC_STAT] [nvarchar](500) NULL,
	[DATE_STAT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route]    Script Date: 10/28/2020 6:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[id] [float] NULL,
	[fare] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteStop]    Script Date: 10/28/2020 6:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteStop](
	[id] [float] NULL,
	[RouteId] [float] NULL,
	[StopId] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 10/28/2020 6:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[id] [float] NULL,
	[RouteId] [float] NULL,
	[departure] [datetime] NULL,
	[arrival] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stop]    Script Date: 10/28/2020 6:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stop](
	[id] [float] NULL,
	[Name] [nvarchar](max) NULL,
	[Terminus] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bus] ([vehicle], [ScheduleId], [fleet_Id], [last_main]) VALUES (2, 1, 1, NULL)
INSERT [dbo].[Bus] ([vehicle], [ScheduleId], [fleet_Id], [last_main]) VALUES (3, 1, 1, NULL)
INSERT [dbo].[Bus] ([vehicle], [ScheduleId], [fleet_Id], [last_main]) VALUES (4, 2, 2, NULL)
GO
INSERT [dbo].[Driver] ([id], [BusVehicle], [Name], [employ_Date]) VALUES (6, 2, N'Driver 19', NULL)
INSERT [dbo].[Driver] ([id], [BusVehicle], [Name], [employ_Date]) VALUES (7, 2, N'Driver 12', NULL)
INSERT [dbo].[Driver] ([id], [BusVehicle], [Name], [employ_Date]) VALUES (8, 3, N'Driver 13', NULL)
GO
SET IDENTITY_INSERT [dbo].[driverStat] ON 

INSERT [dbo].[driverStat] ([ID_STAT], [DESC_STAT], [DATE_STAT]) VALUES (CAST(1 AS Numeric(18, 0)), N'A new driver is inserted with an ID = 36, which will drive a Vehicle with an ID = 24', CAST(N'2020-10-28T17:54:12.830' AS DateTime))
SET IDENTITY_INSERT [dbo].[driverStat] OFF
GO
INSERT [dbo].[Route] ([id], [fare]) VALUES (1, 10)
INSERT [dbo].[Route] ([id], [fare]) VALUES (2, 8)
INSERT [dbo].[Route] ([id], [fare]) VALUES (3, 7)
GO
INSERT [dbo].[RouteStop] ([id], [RouteId], [StopId]) VALUES (1, 1, 1)
INSERT [dbo].[RouteStop] ([id], [RouteId], [StopId]) VALUES (2, 1, 2)
INSERT [dbo].[RouteStop] ([id], [RouteId], [StopId]) VALUES (3, 1, 3)
GO
INSERT [dbo].[Schedule] ([id], [RouteId], [departure], [arrival]) VALUES (1, 1, CAST(N'2015-10-26T10:00:00.000' AS DateTime), CAST(N'2015-10-26T13:00:00.000' AS DateTime))
INSERT [dbo].[Schedule] ([id], [RouteId], [departure], [arrival]) VALUES (2, 2, CAST(N'2015-10-26T10:30:00.000' AS DateTime), CAST(N'2015-10-26T13:30:00.000' AS DateTime))
INSERT [dbo].[Schedule] ([id], [RouteId], [departure], [arrival]) VALUES (3, 3, CAST(N'2015-10-26T11:00:00.000' AS DateTime), CAST(N'2015-10-26T14:00:00.000' AS DateTime))
GO
INSERT [dbo].[Stop] ([id], [Name], [Terminus]) VALUES (1, N'Stop1', NULL)
INSERT [dbo].[Stop] ([id], [Name], [Terminus]) VALUES (2, N'Stop2', NULL)
INSERT [dbo].[Stop] ([id], [Name], [Terminus]) VALUES (3, N'Stop3', NULL)
GO
/****** Object:  StoredProcedure [dbo].[Stops]    Script Date: 10/28/2020 6:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stops] @vehicle NUMERIC
AS
SELECT * 
FROM    [dbo].[Bus] as B
        INNER JOIN 
        [dbo].[Schedule] as S
            ON B.ScheduleId = S.id
        INNER JOIN
        [dbo].[Route] AS R
            ON R.id = S.RouteId
        INNER JOIN
        [dbo].[RouteStop] AS RS
            ON RS.RouteId = R.id
        INNER JOIN 
        [dbo].[Stop] AS St
            ON St.id = RS.StopId
WHERE vehicle = @vehicle
GO
USE [master]
GO
